#Horizontal-Split {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#Horizontal-Split .gutter {
    background-color: #75738666;
    background-repeat: no-repeat;
    background-position: 50%;
}

#Horizontal-Split .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
