#Vertical-Split {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#Vertical-Split .gutter {
    background-color: #75738666 ; 
    background-repeat: no-repeat;
    background-position: 50%;
}

#Vertical-Split .gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=') !important; /* Use !important to ensure this background image is applied */
    cursor: row-resize;
}

/* CodeEditor.css */
/* CodeEditor.css */

.run-code-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif; /* Setting font-family to Times New Roman */
    display: block;
    margin: 10px auto 0; /* Margin top, auto horizontally centered */
}

.run-code-button:hover {
    background-color: #0056b3;
}

.result-box {
    background-color: #f0f0f042; /* Grey background */
    border: 1px solid #ccc; /* Grey border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    margin-top: 10px; /* Margin top to create space below the button */
    height: 50%;
    overflow: hidden; /* Prevents content overflow */
}

