#Vertical-Split {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0;
    margin: 0;
}

#Vertical-Split .gutter {
    background-color: #75738666;
    background-repeat: no-repeat;
    background-position: 50%;
}

#Vertical-Split .gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=') !important; /* Use !important to ensure this background image is applied */
    cursor: row-resize;
}
