.text-background{
    border-radius: 15px;
    background-color: rgb(62, 62, 62);
    border: 5px solid rgb(105, 105, 105); /* Specify 'solid' for the border style */
    overflow: hidden;
    margin: 2%;
}
.text{
    color: white;
    font-size: 18px;
    padding: 2%;
}
.Problem-Name{
    padding-left: 3%;
    overflow: hidden;

}

